<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>{% block title %}Melody{% endblock %}</title>

    <!-- Metadata -->
    <meta name="application-name" content="Melody">
    <meta name="author" content="Léo DEVILLE">
    <meta name="description" content="A lightweight and modular micro-framework based on a middleware architecture (PSR-4, PSR-7, PSR-12, PSR-15, PSR-17).">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/logo-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ asset('img/logo-64x64.png') }}">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ asset('img/logo-128x128.png') }}">
    <link rel="icon" type="image/png" sizes="256x256" href="{{ asset('img/logo-256x256.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('img/logo-512x512.png') }}">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ asset('img/logo-128x128.png') }}">
    <link rel="apple-touch-icon" sizes="256x256" href="{{ asset('img/logo-256x256.png') }}">

    <!-- CSS -->
    {% block css %}{% endblock %}

    <!-- JS -->
    {% block js %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
